<div class="panel panel-primary">
  <div class="panel-heading">
    {{ panelTitle }}
  </div>
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Article Name</label>
        <input type="text" class="form-control" formControlName="title" #title />
      </div>
      <div *ngIf="angForm.controls['title'].invalid && (angForm.controls['title'].dirty || angForm.controls['title'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['title'].errors.required">
          Title is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Article Content</label>
        <textarea class="form-control" formControlName="content" #content></textarea>
      </div>
      <div *ngIf="angForm.controls['content'].invalid && (angForm.controls['content'].dirty || angForm.controls['content'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['content'].errors.required">
          Content is required.
        </div>
      </div>
      <div class="form-group">
        <button (click)="addArticle(title.value, content.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</div>